body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
}

.pomodoro-clock {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  margin: 0;
}

.settings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.settings p {
  margin: 0;
}

.controls button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

.controls span {
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
  font-weight: bold;
}

.timer {
  text-align: center;
  margin-bottom: 20px;
}

.timer p {
  font-size: 20px;
  margin: 0;
}

.timer #time-left {
  font-size: 48px;
  font-weight: bold;
  margin: 20px 0;
}

.controls button#start_stop {
  background-color: #28a745;
  color: #fff;
  margin-right: 10px;
  width: auto;
  height: auto;
}

.controls button#reset {
  background-color: #dc3545;
  color: #fff;
  width: auto;
  height: auto;
}

audio {
  display: none;
}

.author {
  text-align: center;
  font-family: Share Tech Mono, sans;
  margin-top: 15px;
  font-size: 14px;
  color: #000000;
}
.author a {
  text-decoration: none;
  color: #a6cbf0;
  line-height: 26px;
}

.author a:hover {
  color: #007bff;
  border-color: #007bff;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
